/*These are the stylings for the header tag, it's a glorified div class but it's just easier than making a new class to apply styles to this tag.*/
nav{
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 2%;
    background-color: rgb(1, 211, 218);
    border: thick solid rgb(1, 211, 218);
    text-align: center;
    font-weight: bold;
}

body{
    background-image: url("images/background.jpg"); /*This sets the background image which I said I would set when I first did this site.*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; /*These 3 declarations set the background to not repeat and to fill the entire screen.*/
    font-family: 'Courier New', monospace; /*This forces the font to be this font unless stated, I like this font as it looks close to traditional ascii at smaller sizes.*/
    animation-name: fade;
    animation-duration: 2s;
}

/*This forces all of the text to be white, unless it is a link which has to be done through an attribute.*/
p, h1, h2, h3, h4, h5, h6{
    color: black;
}

/*This adds a margin to text with the P tag to format it better.*/
p{
    margin: 10;
}
/*This is the footer styling, the top attribute is not defined as it is done on the page to make the placement of it flexible.*/
footer{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 2%;
    background-color: rgb(1, 211, 218);
    border: thick solid rgb(1, 211, 218);
    text-align: left;
}

/*This is purely defined for the table on the downloads page.*/
table, td{
    border: thin solid black;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

/*This is here just to make the HR tag look nice.*/
hr{
    width: 98%;
    border: thin solid black;
}

/*This is styling only made for the email link on my contacts page*/
address{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

/*Doesn't change the colour of the links after being clicked*/
a:visited {
    color: white;
  }

/*This was originally a class for the body but then I removed my header and reused that tag for this part.*/
header{
    background-color: rgba(0, 247, 255, 0.5);
    border: thick solid rgb(1, 210, 218); /*If you remove this it will make the pages look un-alinged*/
    width: 50%;
    top:3%;
    position: absolute;
    left: 25%;
}

/*This makes all text with the link ID the color black so they don't clash with the already set styling.*/
#link{
    color: black;
}

/*This is the animation that does the fade in effect on each page.*/
@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }